body {
    font-family: 'Times New Roman', serif; 
    text-align: center;
    padding: 50px;
    background-color: grey; 
    color: white;
    transition: background-color 1s, color 1s; 
}
body.active {
    background-color: white; 
    color: black; 
}
h1 {
    margin-top: 20vh;
    font-size: 3em;
    transition: opacity 2s;
}
p {
    font-size: 1.5em;
    opacity: 0; 
    animation: none; 
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    40%, 60% { opacity: 1; }
}
button {
    font-family: inherit; 
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
    color: black;
    border: 2px solid grey;
    border-radius: 15px;
    font-weight: bold;
}
button:hover {
    background-color: black;
    color: white;
    border-color: grey;
    transform: scale(0.95);
}